@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 100px;
}

body {
  @apply text-custom-black;
}

.btn {
  @apply bg-custom-green  border-none text-custom-silver min-w-[120px];
}

.title {
  @apply text-[45px] lg:text-[65px] font-bold;
}

.subtitle {
  @apply text-[29px] md:text-[34px] font-semibold text-center max-w-[500px] mx-auto;
}

.paragraph {
  @apply text-[14px] text-custom-grey my-2;
}

.radius {
  @apply rounded-md;
}
